.movie-heading {
  font-family: "roboto";
  font-size: 120px;
  color: #c9554d;
  text-align: center;
}

.movie-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 500px;
  background-color: #4d97c9;
  border-radius: 8px;
  padding: 20px;
}

.label-text {
  font-size: 20px;
  font-family: "roboto";
  margin-bottom: 10px;
}

.input-text {
  font-family: "Roboto";
  font-size: 15px;
  height: 30px;
  margin-bottom: 10px;
  border: 0px;
  outline: none;
}
.button-submit {
  height: 35px;
  width: 85px;
  border: 0px;
  outline: none;
  border-radius: 8px;
  background-color: #361e1e;
  color: #ffffff;
}

.button1 {
  width: 100px;
  height: 35px;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: 0px;
  margin-top: 10px;
}
